<main>
  <section class="users-section">
    <article class="users-info">
      <div class="users-section-card">
        <img src="./" alt="Where the user face would be">
        <h4>User's Name</h4>
        <p>User's number of posts</p>
      </div>
    </article>

    <article class="users-posts">
      <p>This is where the user's posts would be</p>

      <div>
        <p>Where the comments would be</p>
        <p>Where the comments would be</p>
        <p>Where the comments would be</p>
      </div>
    </article>

    <button>Pagination</button>
  </section>
</main>