<main>
  <section class="users-section">
    <article class="users-posts">
      <p>This is where the user's posts would be</p>

      <div>
        <p>Where the comments would be</p>
        <p>Where the comments would be</p>
        <p>Where the comments would be</p>
      </div>
    </article>
  </section>
</main>