.users-container h2 {
  margin: 2rem 0;
}

.users-section {
  padding: 2rem 1rem;
}

.users-section > a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

.users-section img {
  width: 8rem;
  margin-right: 2rem;
}

.users-section-card {
  border: 1px solid rgb(4, 3, 3);
  padding: 2rem 0;
  width: 30rem;
  justify-content: space-around;
  align-items: center;
}

.users-section-card h4 {
  font-size: 3.2rem;
  font-weight: 700;
}

.users-section-card p {
  align-self: flex-end;
}
